<!DOCTYPE html>
<html class="h-full">

<head>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="inProgress.length">
            <h2 class="font-bold mb-2">in progress</h2>
            <ul>
                <li v-for="assignment in completedAssignments"> <label>
                        {{ assignment.name }} <input type="checkbox" v-model="assignment.complete">
                    </label></li>
            </ul>
        </section>
        <section v-show="completedAssignments.length" class="mt-8">
            <h2 class="font-bold mb-2">Completed </h2>
            <ul>
                <li v-for="assignment in inProgress" > <label>
                        {{ assignment.name }} <input type="checkbox" v-model="assignment.complete">
                    </label></li>
            </ul>
        </section>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    assignments: [
                        { name: 'finish project', complete: false },
                        { name: 'Read a book', complete: true },
                        { name: 'submit project', complete: false }
                    ]
                }
            }, computed: {
                completedAssignments() {
                    return this.assignments.filter(assignment => assignment.complete)
                },
                inProgress() {
                    return this.assignments.filter(assignment => ! assignment.complete)
                }
            }
        }).mount('#app')
    </script>
</body>

</html>